@using LinkInspector.Objects

@functions {
    private string TrimLongUrl(string str)
    {
        if(str.Length > 43)
            str = str.Substring(0, 40) + "...";
        return str;
    }

}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>http://softeq.com/</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />		
		<style type="text/css" title="currentStyle">
			@@import "Templates/media/css/site.css";
		</style>
		<script type="text/javascript" language="javascript" src="Templates/media/js/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="Templates/media/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" charset="utf-8">			
(function($) {
/*
 * Function: fnGetColumnData
 * Purpose:  Return an array of table values from a particular column.
 * Returns:  array string: 1d data array 
 * Inputs:   object:oSettings - dataTable settings object. This is always the last argument past to the function
 *           int:iColumn - the id of the column to extract the data from
 *           bool:bUnique - optional - if set to false duplicated values are not filtered out
 *           bool:bFiltered - optional - if set to false all the table data is used (not only the filtered)
 *           bool:bIgnoreEmpty - optional - if set to false empty values are not filtered from the result array
 * Author:   Benedikt Forchhammer <b.forchhammer /AT\ mind2.de>
 */
$.fn.dataTableExt.oApi.fnGetColumnData = function ( oSettings, iColumn, bUnique, bFiltered, bIgnoreEmpty ) {
    // check that we have a column id
    if ( typeof iColumn == "undefined" ) return new Array();
     
    // by default we only wany unique data
    if ( typeof bUnique == "undefined" ) bUnique = true;
     
    // by default we do want to only look at filtered data
    if ( typeof bFiltered == "undefined" ) bFiltered = true;
     
    // by default we do not wany to include empty values
    if ( typeof bIgnoreEmpty == "undefined" ) bIgnoreEmpty = true;
     
    // list of rows which we're going to loop through
    var aiRows;
     
    // use only filtered rows
    if (bFiltered == true) aiRows = oSettings.aiDisplay; 
    // use all rows
    else aiRows = oSettings.aiDisplayMaster; // all row numbers

    // set up data array    
    var asResultData = new Array();
     
    for (var i=0,c=aiRows.length; i<c; i++) {
        iRow = aiRows[i];
        var aData = this.fnGetData(iRow);
        var sValue = aData[iColumn];
         
        // ignore empty values?
        if (bIgnoreEmpty == true && sValue.length == 0) continue;
 
        // ignore unique values?
        else if (bUnique == true && jQuery.inArray(sValue, asResultData) > -1) continue;
         
        // else push the value onto the result data array
        else asResultData.push(sValue);
    }
     
    return asResultData;
}}(jQuery));
 
 
function fnCreateSelect( aData )
{
    var r='<select><option value=""></option>', i, iLen=aData.length;
    for ( i=0 ; i<iLen ; i++ )
    {
        r += '<option value="'+aData[i]+'">'+aData[i]+'</option>';
    }
    return r+'</select>';
}



var asInitVals = new Array();

$(document).ready(function() {
    var oTable = $('#report').dataTable( {
        "sPaginationType": "full_numbers",
        "aaSorting": [[ 0, "desc" ]],
	"oLanguage": {
		"sSearch": "Search all columns:"
        }
    } );

 $("tfoot input").keyup( function () {
        /* Filter on the column (the index) of this element */
        oTable.fnFilter( this.value, $("tfoot th").index($(this).parent()) );		
    } );

    $("tfoot input").each( function (i) {
        asInitVals[i] = this.value;
    } );
     
    $("tfoot input").focus( function () {
        if ( this.className == "search_init" )
        {
            this.className = "";
            this.value = "";
        }
    } );
     
    $("tfoot input").blur( function (i) {
        if ( this.value == "" )
        {
            this.className = "search_init";
            this.value = asInitVals[$("tfoot input").index(this)];
        }
    } );

$("tfoot th.select").each( function ( i ) {
        this.innerHTML = fnCreateSelect( oTable.fnGetColumnData(i) );
        $('select', this).change( function () {
            oTable.fnFilter( '^'+$(this).val(), i, true);
        } );
    } );


} );
    
 
		</script>

	</head>
	<body id="dt_example" class="example_alt_pagination">
		<div id="container">
			<div id="demo">


	    <table id="report" class="display">
            <thead><tr><th>Status Code</th><th>Status Description</th><th>Elapsed, s</th><th>Page Url</th></tr></thead>
	    <tbody>
            @foreach (WebPageState state in Model.PageStates)
            {
                <tr class="@state.Status">
                    <td>@((int)state.StatusCode)</td>
                    <td>@state.StatusCode</td>
                    <td>@state.ElapsedTimeSpan.TotalSeconds.ToString("F2")</td>
                    <td>
                        <a href="@state.Uri.AbsoluteUri">@TrimLongUrl(state.Uri.AbsoluteUri)</a>
                        @if(state.Redirects.Count > 0)
                        {
                            <table>
                                <tr>
                                    <th>Status</th>
                                    <th>Url</th>
                                </tr>
                                @foreach (var redirect in state.Redirects)
                                {
                                    <tr>
                                        <td>@((int)redirect.StatusCode)</td>
                                        <td><a href="@redirect.Uri.AbsoluteUri">@TrimLongUrl(redirect.Uri.AbsoluteUri)</a></td>
                                    </tr>
                                }
                            </table>
                        }
                    </td>
                </tr>
            }
           
        </tbody>
	<tfoot>
		<tr>    
			<th class="select"></th>
			<th class="select"></th>
			<th><input type="text" name="search_elapsed" value="Search time elapsed" class="search_init" /></th>
			<th><input type="text" name="search_url" value="Search url" class="search_init" /></th>
		</tr>
	</tfoot>

        </table>
			<div class="spacer"></div>
			
			
		</div>
		</div>
	</body>

</html>